
plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider"{
        cwd "/"
    }
}


// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
themes {
    rasmus {
        bg "#450466"         //"#1a1a19" // selected item
        // fg "#d1d1d1"         // pane divider unselected
        fg "#2B2B2B"

        black "#333332"
        red "#ff968c"
        green "#61957f"         // pane divider selected
        yellow "#ffc591"
        blue "#8db4d4"
        magenta "#de9bc8"
        cyan "#7bb099"
        white "#d1d1d1"

        orange 255 184 108  // pane divider edited
    }

    franky {
        fg "#2B2B2B"  // frame unselected

        frame_selected {
            base "#2B2B2B"
            background "#1E1E2E"
            emphasis_0 250 179 135
            emphasis_1 137 220 235
            emphasis_2 245 194 231
            emphasis_3 0
        }
        frame_highlight {
            base "#595959"
            background "#391F11"
            emphasis_0 250 179 135
            emphasis_1 250 179 135
            emphasis_2 250 179 135
            emphasis_3 250 179 135
        }
        text_unselected {
            base 205 214 244
            background 24 24 37
            emphasis_0 250 179 135
            emphasis_1 137 220 235
            emphasis_2 166 227 161
            emphasis_3 245 194 231
        }
        text_selected {
            base 205 214 244
            background 88 91 112
            emphasis_0 250 179 135
            emphasis_1 137 220 235
            emphasis_2 166 227 161
            emphasis_3 245 194 231
        }
        ribbon_selected {
            base 24 24 37
            background 166 227 161
            emphasis_0 243 139 168
            emphasis_1 250 179 135
            emphasis_2 245 194 231
            emphasis_3 137 180 250
        }
        ribbon_unselected {
            base 24 24 37
            background 205 214 244
            emphasis_0 243 139 168
            emphasis_1 205 214 244
            emphasis_2 137 180 250
            emphasis_3 245 194 231
        }
        table_title {
            base 166 227 161
            background 0
            emphasis_0 250 179 135
            emphasis_1 137 220 235
            emphasis_2 166 227 161
            emphasis_3 245 194 231
        }
        table_cell_selected {
            base 205 214 244
            background 88 91 112
            emphasis_0 250 179 135
            emphasis_1 137 220 235
            emphasis_2 166 227 161
            emphasis_3 245 194 231
        }
        table_cell_unselected {
            base 205 214 244
            background 24 24 37
            emphasis_0 250 179 135
            emphasis_1 137 220 235
            emphasis_2 166 227 161
            emphasis_3 245 194 231
        }
        list_selected {
            base 205 214 244
            background 88 91 112
            emphasis_0 250 179 135
            emphasis_1 137 220 235
            emphasis_2 166 227 161
            emphasis_3 245 194 231
        }
        list_unselected {
            base 205 214 244
            background 24 24 37
            emphasis_0 250 179 135
            emphasis_1 137 220 235
            emphasis_2 166 227 161
            emphasis_3 245 194 231
        }
        exit_code_success {
            base 166 227 161
            background 0
            emphasis_0 137 220 235
            emphasis_1 24 24 37
            emphasis_2 245 194 231
            emphasis_3 137 180 250
        }
        exit_code_error {
            base 243 139 168
            background 0
            emphasis_0 249 226 175
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 245 194 231
            player_2 137 180 250
            player_3 0
            player_4 249 226 175
            player_5 137 220 235
            player_6 0
            player_7 243 139 168
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
// Choose the theme that is specified in the themes section.
theme "franky"


// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
on_force_close "detach"

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
simplified_ui false

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
// default_shell "$SHELL"

// Choose the path to override cwd that zellij will use for opening new panes
//
// default_cwd ""

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames false

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
//
auto_layout true

// Whether sessions should be serialized to the cache folder (including their tabs/panes, cwds and running commands) so that they can later be resurrected
// Options:
//   - true (default)
//   - false
//
session_serialization true

// Whether pane viewports are serialized along with the session, default is false
// Options:
//   - true
//   - false (default)
serialize_pane_viewport false

// Enable or disable writing of session metadata to disk
// (if disabled, other sessions might not know
// metadata info on this session)
// Default: false
//
disable_session_metadata false

// Scrollback lines to serialize along with the pane viewport when serializing sessions, 0
// defaults to the scrollback size. If this number is higher than the scrollback size, it will
// also default to the scrollback size. This does nothing if `serialize_pane_viewport` is not true.
//
scrollback_lines_to_serialize 0

// The name of the default layout to load on startup
// Default: "default"
//
// default_layout "neo"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
default_mode "normal"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
mouse_mode true

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
scroll_buffer_size 10000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy" // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
copy_on_select true

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
scrollback_editor "$EDITOR"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
mirror_session false

// The folder in which Zellij will look for layouts
//
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"

// Enable or disable the rendering of styled and colored underlines (undercurl).
// May need to be disabled for certain unsupported terminals
// Default: true
//
styled_underlines true

// Enable or disable support for the enhanced Kitty Keyboard Protocol (the host terminal must also support it)
// Default: true (if the host terminal supports it)
//
support_kitty_keyboard_protocol false
